{% extends 'companyinfo2/base.html' %}

{% block title %}
    Delete Assembling
{% endblock %}

{% block content %}
    <form
        action="{{ assembling.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            assembling {{ assembling }}?
        </p>
        <a href="{{ assembling.get_absolute_url }}"><button type="submit">Cancel</button></a>
        <button type="submit">Delete Assembling</button>
    </form>
{% endblock %}
