{% extends 'companyinfo2/base.html' %}

{% block title %}
    Assembling List
{% endblock %}

{#{% block create_button %}#}
{#    {% if perms.companyinfo2.add_assembling %}#}
{#        <a#}
{#                href="{% url 'companyinfo2_assembling_create_urlpattern' %}"#}
{#                class="button button-primary">#}
{#            Create New Assembling</a>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block org_content %}
{#{% block content %}#}

    <h2>Assembling List</h2>
    {% if perms.companyinfo2.add_assembling %}
        <div class="mobile">
            <a
                    href="{% url 'companyinfo2_assembling_create_urlpattern' %}"
                    class="button button-primary">
                Create New Assembling</a>
        </div>
    {% endif %}
    <ul>
        {% for assembling in assembling_list %}
            <li>
                <a href="{{ assembling.get_absolute_url }}">
                    {{ assembling }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no assemblings available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}



