{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            title is provided by inheriting templates
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'companyinfo2/normalize.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'companyinfo2/skeleton.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'companyinfo2/style.css' %}">
    {% block head %}{% endblock %}
</head>

<body>

<div class="container">
    <div class="status row">
        <div class="offset-by-eight four columns">
            <ul class="inline">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout_urlpattern' %}">
                        Log Out, {{ user.get_username }}</a></li>
                {% else %}
                    <li><a href="{% url 'login_urlpattern' %}">
                        Employee Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <header class="row">
        <div class="offset-by-one ten columns">
            <h1 class="logo">EZ Company</h1>
            <h2>Innovation research and retailer</h2>
        </div>
    </header>
    <nav>
        <ul>
            {% if perms.companyinfo2.view_assembling %}
                <li>
                    <a href="{% url 'companyinfo2_assembling_list_urlpattern' %}">
                        Assemblings</a></li>
            {% endif %}

            {% if perms.companyinfo2.view_product %}
                <li>
                    <a href="{% url 'companyinfo2_product_list_urlpattern' %}">
                        Products</a></li>
            {% endif %}

            {% if perms.companyinfo2.view_part %}
                <li>
                    <a href="{% url 'companyinfo2_part_list_urlpattern' %}">
                        Parts</a></li>
            {% endif %}

            {% if perms.companyinfo2.view_supplier %}
                <li>
                    <a href="{% url 'companyinfo2_supplier_list_urlpattern' %}">
                        Suppliers</a></li>
            {% endif %}


            {% if perms.companyinfo2.view_coordinator %}
                <li>
                    <a href="{% url 'companyinfo2_coordinator_list_urlpattern' %}">
                        Coordinators</a></li>
            {% endif %}


            {% if perms.companyinfo2.view_product_coordinator %}
                <li>
                    <a href="{% url 'companyinfo2_product_coordinator_list_urlpattern' %}">
                        Product coordinators</a></li>
            {% endif %}
            {% if not perms.companyinfo2 %}
            <li>
                <a href="{% url 'welcome_urlpattern' %}">
                    Welcome</a></li>
            {% endif %}
            {% if not perms.companyinfo2 %}
            <li>
                <a href="{% url 'news_urlpattern' %}">
                    News</a></li>
            {% endif %}
            {% if not perms.companyinfo2 %}
            <li>
                <a href="{% url 'research_product_urlpattern' %}">
                    Productions</a></li>
            {% endif %}
            {% if not perms.companyinfo2 %}
            <li>
                <a href="{% url 'store_urlpattern' %}">
                    Store</a></li>
            {% endif %}
            {% if not perms.companyinfo2 %}
            <li>
                <a href="{% url 'about_urlpattern' %}">
                    About</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
    {% block content %}
      <div class="row">
        <section class="eight columns">
          {% block org_content %}
            This is default content!
          {% endblock %}
        </section>
        <section class="desktop four columns">
          {% block create_button %}{% endblock %}
        </section>
      </div>
      <div class="row">
        <div class="twelve columns">
          {% block content_footer %}{% endblock %}
        </div>
      </div>
    {% endblock %}
    </main>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</div><!-- container -->

<footer>
    <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        </a><br/><span property="dct:title">EZ Company</span>
        by
        <a href="https://github.com/winwowin" property="cc:attributionName"
           rel="cc:attributionURL">Worawich Chaiyakunpruk</a>.
    </p>
    <p>Portions of the EZ Company code are based upon code from
        <a href="https://django-unleashed.com">Django Unleashed</a>,
        <a href="http://getskeleton.com/">Skeleton</a>,
        <a href="https://necolas.github.io/normalize.css/">Normalize.css</a>,
        <a href="https://courseinfo.ligent.net/2019fa/_illinois/is590wfo/index.html">Ligent Tutorials</a>, and
        <a href="https://www.ligent.net">Ligent, LLC</a> <br> and
        are subject to the intellectual property rights restrictions of those works.
    </p>
</footer>

</body>

</html>
