{% extends 'companyinfo2/base.html' %}

{% block title %}
    Coordinator List
{% endblock %}

{#{% block create_button %}#}
{#    {% if perms.companyinfo2.add_coordinator %}#}
{#    <a#}
{#        href="{% url 'companyinfo2_coordinator_create_urlpattern'  %}"#}
{#        class="button button-primary">#}
{#      Create New Coordinator</a>#}
{#    {% endif %}#}
{#{% endblock %}#}

{#{% block content %}#}
{% block org_content %}
  <h2>Coordinator List</h2>
    {% if perms.companyinfo2.add_coordinator %}
    <div class="mobile">
      <a
          href="{% url 'companyinfo2_coordinator_create_urlpattern' %}"
          class="button button-primary">
        Create New Coordinator</a>
    </div>
    {% endif %}
  <ul>
    {% for coordinator in coordinator_list %}
      <li>
        <a href="{{ coordinator.get_absolute_url }}">
          {{ coordinator }}</a>
      </li>
    {% empty %}
      <li><em>There are currently no coordinators available.</em></li>
    {% endfor %}
  </ul>
{% endblock %}
