{% extends 'companyinfo2/base.html' %}

{% block title %}
    Product_coordinator List
{% endblock %}

{#{% block create_button %}#}
{#    {% if perms.companyinfo2.add_coordinator %}#}
{#      <a href="{% url 'companyinfo2_product_coordinator_create_urlpattern' %}"#}
{#         class="button button-primary">#}
{#        Create New Product_coordinator</a>#}
{#    {% endif %}#}
{#{% endblock %}#}

{#{% block content %}#}
{% block org_content %}
  <h2>Product Coordinator List</h2>
    {% if perms.companyinfo2.add_coordinator %}
    <div class="mobile">
      <a href="{% url 'companyinfo2_product_coordinator_create_urlpattern' %}"
         class="button button-primary">
        Create New Product_coordinator</a>
    </div>
    {% endif %}
    <ul>
        {% for product_coordinator in product_coordinator_list %}
            <li>
                <a href="{{ product_coordinator.get_absolute_url }}">{{ product_coordinator }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no product_coordinators available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
