{% extends 'companyinfo2/base.html' %}

{% block title %}
    Supplier List
{% endblock %}

{% block org_content %}
    <h2>Supplier List</h2>
    {% if perms.companyinfo2.add_supplier %}
        <div class="mobile">
            <a
                    href="{% url 'companyinfo2_supplier_create_urlpattern' %}"
                    class="button button-primary">
                Create New Supplier</a>
        </div>
    {% endif %}
    <ul>
        {% for supplier in supplier_list %}
            <li>
                <a href="{{ supplier.get_absolute_url }}">
                    {{ supplier }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no suppliers available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
