{% extends 'companyinfo/base.html' %}

{% block title %}
    Supplier - {{ supplier }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h2>{{ supplier }}</h2>
                <ul class="inline">
{#                    {% if perms.companyinfo2.change_supplier %}#}
                        <li>
                            <a href="{{ supplier.get_update_url }}"
                               class="button">
                                Edit Supplier</a></li>
{#                    {% endif %}#}
{#                    {% if perms.companyinfo2.delete_supplier %}#}
                        <a href="{{ supplier.get_delete_url }}"
                           class="button">
                            Delete Supplier</a></li>
{#                    {% endif %}#}
                </ul>
                <section>
                    <table>
                        <tr>
                            <th>Supplier Name:</th>
                            <td>{{ supplier.supplier_name }}</td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h3>Products</h3>
                    <ul>
                        {% for product in product_list %}
                            <li>
                                <a href="{{ product.get_absolute_url }}">{{ product }}</a>
                            </li>
                        {% empty %}
                            <li><em>There are currently no products for this supplier.</em></li>
                        {% endfor %}
                    </ul>
                </section>

            </div>
        </div> <!-- row -->

    </article>
{% endblock %}
