{% extends 'companyinfo/base.html' %}

{% block title %}
    Product List
{% endblock %}

{#{% block create_button %}#}
{#    {% if perms.companyinfo2.add_product %}#}
{#        <a#}
{#                href="{% url 'companyinfo_product_create_urlpattern' %}"#}
{#                class="button button-primary">#}
{#            Create New Product</a>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block content %}
{#{% block org_content %}#}
    <h2>Product List</h2>
{#    {% if perms.companyinfo2.add_product %}#}
        <div class="mobile">
            <a
                    href="{% url 'companyinfo_product_create_urlpattern' %}"
                    class="button button-primary">
                Create New Product</a>
        </div>
{#    {% endif %}#}
    <ul>
        {% for product in product_list %}
            <li>
                <a href="{{ product.get_absolute_url }}">
                    {{ product }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no products available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
